{% extends "core/base.html" %}
{% load static %}
{% block container %}
{% load my_tags %}
{% current_time "%A de %B de 20%y" as the_time %}
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START CONTENT -->
      <section id="content">
        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
          <!-- Search for small screen -->
          <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
          </div>
          <div class="container">
            <div class="row">
              <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">Lista de Categorias</h5>
                <ol class="breadcrumbs">
                  <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                  <li><a href="#">Secretaria</a></li>
                  <li class="active">Lista de Categorias</li>
                </ol>
              </div>
              <div class="col s2 m6 l6">
                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-activates="dropdown1">
                    <i class="material-icons hide-on-med-and-up">settings</i>
                    <span class="hide-on-small-onl">Settings</span>
                    <i class="material-icons right">arrow_drop_down</i>
                  </a>
                <ul id="dropdown1" class="dropdown-content">
                  <li><a href="#!" class="grey-text text-darken-2">Access<span class="badge">1</span></a>
                  </li>
                  <li><a href="#!" class="grey-text text-darken-2">Profile<span class="new badge">2</span></a>
                  </li>
                  <li><a href="#!" class="grey-text text-darken-2">Notifications</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->
        <!--start container-->
        <div class="container">
          <div class="section">

            <!--Striped Table-->
            <div class="divider"></div>
            <div id="striped-table">
              <div class="header-search-wrapper hide-on-med-and-down">
                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Pesquisar..." />
              </div>
              <div class="row">
                <div class="col s12">
                  <table class="striped centeredresponsive-table">
                    <thead>
                      <tr>
                        <th data-field="id">Id</th>
                        <th data-field="nome">Categoria</th>
                        <th data-field="price">Empresa</th>
                        <th data-field="edit">Editar</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for categoria in object_list %}
                        <tr>
                          <td>{{ categoria.id }}</td>
                          <td>{{ categoria }}</td>
                          <td>{{ categoria.empresa }}</td>
                          <td><a class="waves-effect waves-light btn-small"><i class="material-icons">edit</i></a></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </section>
    </div>
    <style>
      .fixed-action-btn{
                margin-bottom: 18px;  //optional
      }
    </style>
        <!-- END WRAPPER -->
            <!-- SART BUTTON -->
    <div class="fixed-action-btn botao">
        <a class="btn-floating btn-large waves-effect waves-light red">
          <i class="large material-icons">add</i>
        </a>
    </div>
      <!-- END BUTTON -->
  </div>

  <!-- END MAIN -->
  <!-- //////////////////////////////////////////////////////////////////////////// -->
{% endblock %}
