{% extends "core/base.html" %}
{% load static %}
{% block container %}
{% load my_tags %}
{% current_time "%A de %B de 20%y" as the_time %}
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START CONTENT -->
      <section id="content">
        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
          <!-- Search for small screen -->
          <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
          </div>
          <div class="container">
            <div class="row">
              <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">Funcionario</h5>
                <ol class="breadcrumbs">
                  <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                  <li><a href="{% url 'administrativo' %}">Administativo</a></li>
                  <li><a href="{% url 'list_funcionarios' %}">Funcionario</a></li>
                  <li class="active">Novo Funcionario</li>
                </ol>
              </div>
              <div class="col s2 m6 l6">
                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-activates="dropdown1">
                    <i class="material-icons hide-on-med-and-up">settings</i>
                    <span class="hide-on-small-onl">Settings</span>
                    <i class="material-icons right">arrow_drop_down</i>
                  </a>
                <ul id="dropdown1" class="dropdown-content">
                  <li><a href="#!" class="grey-text text-darken-2">Access<span class="badge">1</span></a>
                  </li>
                  <li><a href="#!" class="grey-text text-darken-2">Profile<span class="new badge">2</span></a>
                  </li>
                  <li><a href="#!" class="grey-text text-darken-2">Notifications</a>
                  </li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->

            <!--Striped Table-->
            <div class="divider"></div>
            <!--start container-->
            <div class="container">
              <!--Basic Form-->
              <div id="basic-form" class="section">
                <div class="row">
                  <div class="col s12 m12 l12">
                    <div class="card-panel">
                      <h4 class="header2">Deletar Funcionario</h4>
                      <div class="row">
                        <div class="divider"></div>
                        <form class="col s12" method="POST" enctype="multipart/form-data">{% csrf_token %}
                          <div class="row">
                            <h5>Você esta certo que quer deletar {{ object }} ?</h5>
                          </div>
                          </div>
                          <div class='row'>
                              <div class="fixed-action-btn botao">
                                <button type='submit' name='btn_login' class="btn-floating btn-large waves-effect waves-light green"><i class="large material-icons">check_circle</i></button>
                              </div>
                          </div>
                      </form>
                      </div>
                    </div>
                    {% if form.errors %}
                      <div class="input-field col s12 m12 l12">
                        <p>NOT VALID</p>
                        {% for errors in form.errors %}
                            {{ errors }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
                <!--END Form-->
              </div>

<style>
  .fixed-action-btn{
            margin-bottom: 23px;  //optional
  }
  .card {

  }
</style>

{% endblock %}
