{% extends "core/base.html" %}
{% load static %}
{% block container %}
{% load my_tags %}
{% current_time "%A de %B de 20%y" as the_time %}
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START CONTENT -->
      <section id="content">
        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper">
          <!-- Search for small screen -->
          <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
          </div>
          <div class="container">
            <div class="row">
              <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">Funcionario</h5>
                <ol class="breadcrumbs">
                  <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                  <li><a href="{% url 'administrativo' %}">Administativo</a></li>
                  <li><a href="{% url 'list_departamentos' %}">Funcionario</a></li>
                  <li class="active">Detalhes de Funcionario</li>
                </ol>
              </div>
              <div class="col s2 m6 l6">
                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-activates="dropdown1">
                    <i class="material-icons hide-on-med-and-up">settings</i>
                    <span class="hide-on-small-onl">Settings</span>
                    <i class="material-icons right">arrow_drop_down</i>
                  </a>
                <ul id="dropdown1" class="dropdown-content">
                  <li><a href="#!" class="grey-text text-darken-2">Access<span class="badge">1</span></a>
                  </li>
                  <li><a href="#!" class="grey-text text-darken-2">Profile<span class="new badge">2</span></a>
                  </li>
                  <li><a href="#!" class="grey-text text-darken-2">Notifications</a>
                  </li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!--breadcrumbs end-->

            <!--Striped Table-->
            <div class="divider"></div>
            <!--start container-->
            <div class="container">
              <!--Basic Form-->
              <div id="basic-form" class="section">
                <div class="row">
                  <div class="col s12 m12 l12">
                    <div class="card-panel">
                      <h4 class="header2">Cadastrar um novo Funcionario</h4>
                      <div class="row">
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s12 m6 l6">
                              <input disabled class='validate' type='text' name='nome' id='id_nome' maxlength="18" value='{{ object.nome }}'/>
                              <label for="nome">Primeiro Nome</label>
                            </div>
                            <div class="input-field col s12 m6 l6">
                              <input disabled class='validate' type='text' name='segundonome' id='id_segundonome' maxlength="18" value='{{ object.segundonome }}'/>
                              <label for="segundonome">Segundo Nome</label>
                            </div>
                            <div class="input-field col s12 m6 l6">
                              <input disabled class='validate' type='number' name='telefone' id='id_telefone' maxlength="12" value="{{ object.telefone }}"/>
                              <label for="id_telefone">Telefone</label>
                            </div>
                            <div class="input-field col s12 m6 l6">
                              <input disabled class='validate' type='text' name='departamento' id='id_departamento' maxlength="12" value="{{ funcionario.departamento }}"/>
                              <label for="id_departamento">Departamento</label>
                            </div>
                            <div class="input-field inline col s12 m6 l6">
                              <input disabled id="id_email" type="email" class="validate" name="email" maxlength="70" value="{{ object.email }}">
                              <label for="email_inline">Email</label>
                            </div>
                            <div class="input-field col s12 m6 l6">
                              Atualmente: <a disabled href="{{ user.funcionario.imagem.url }}">Imagem perfil...</a><br>
                            </div>
                            </div>
                            <div class="input-field inline col s12 m6 l6">
                              <input disabled id="id_aniversario" type="date" class="validate" name="aniversario" maxlength="8" value="{{ object.aniversario|date:"Y-m-d" }}">
                            </div>
                            <div class="input-field inline col s12 m6 l6">
                              <input disabled id="id_regiao" type="text" class="validate" name="regiao" maxlength="18" value="{{ object.regiao }}">
                              <label for="regiao_inline">Região</label>
                            </div>
                          </div>
                          </div>
                          <div class='row'>
                            <div class="fixed-action-btn botao">
                                <a href="{% url 'editar_funcionario' funcionario.id %}"class="btn-floating btn-large waves-effect waves-light blue">
                                  <i class="large material-icons">edit</i>
                                </a>
                            </div>
                          </div>
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--END Form-->
              </div>

<style>
  .fixed-action-btn{
            margin-bottom: 23px;  //optional
  }
  .card {

  }
</style>
{% endblock %}
