{% extends "core/base.html" %}
{% load static %}
{% block container %}
{% load my_tags %}
{% current_time "%A de %B de 20%y" as the_time %}
<!-- START CONTENT -->
<section id="content">
  <!--start container-->
  <div class="container">
    <!--card stats start-->
    <div id="card-stats">
      <div class="row mt-1">
        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
            <div class="padding-4">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">add_shopping_cart</i>
                <p>Active Student</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">{% alunos_ativos %}</h5>
                <p class="no-margin">New</p>
                <p>{% alunos_ativos %}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
            <div class="padding-4">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">perm_identity</i>
                <p>Loked Student</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">{% alunos_naoativos %}</h5>
                <p class="no-margin">New</p>
                <p>{% alunos_naoativos %}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
            <div class="padding-4">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">timeline</i>
                <p>Sales</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">80%</h5>
                <p class="no-margin">Growth</p>
                <p>3,42,230</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
            <div class="padding-4">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">attach_money</i>
                <p>Profit</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">$890</h5>
                <p class="no-margin">Today</p>
                <p>$25,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="card-stats">-->
    <!--  <div class="row">-->
    <!--    <div class="col s12 m6 l3">-->
    <!--      <div class="card">-->
    <!--        <div class="card-content cyan white-text">-->
    <!--          <p class="card-stats-title">-->
    <!--            <i class="material-icons">person_outline</i> New Clients</p>-->
    <!--          <h4 class="card-stats-number">566</h4>-->
    <!--          <p class="card-stats-compare">-->
    <!--            <i class="material-icons">keyboard_arrow_up</i> 15%-->
    <!--            <span class="cyan text text-lighten-5">from yesterday</span>-->
    <!--          </p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="col s12 m6 l3">-->
    <!--      <div class="card">-->
    <!--        <div class="card-content red accent-2 white-text">-->
    <!--          <p class="card-stats-title">-->
    <!--            <i class="material-icons">attach_money</i>Total Sales</p>-->
    <!--          <h4 class="card-stats-number">$8990.63</h4>-->
    <!--          <p class="card-stats-compare">-->
    <!--            <i class="material-icons">keyboard_arrow_up</i> 70%-->
    <!--            <span class="red-text text-lighten-5">last month</span>-->
    <!--          </p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="col s12 m6 l3">-->
    <!--      <div class="card">-->
    <!--        <div class="card-content teal accent-4 white-text">-->
    <!--          <p class="card-stats-title">-->
    <!--            <i class="material-icons">trending_up</i> Today Profit</p>-->
    <!--          <h4 class="card-stats-number">$806.52</h4>-->
    <!--          <p class="card-stats-compare">-->
    <!--            <i class="material-icons">keyboard_arrow_up</i> 80%-->
    <!--            <span class="teal-text text-lighten-5">from yesterday</span>-->
    <!--          </p>-->
    <!--        </div>-->

    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="col s12 m6 l3">-->
    <!--      <div class="card">-->
    <!--        <div class="card-content deep-orange accent-2 white-text">-->
    <!--          <p class="card-stats-title">-->
    <!--            <i class="material-icons">content_copy</i> New Invoice</p>-->
    <!--          <h4 class="card-stats-number">1806</h4>-->
    <!--          <p class="card-stats-compare">-->
    <!--            <i class="material-icons">keyboard_arrow_down</i> 3%-->
    <!--            <span class="deep-orange-text text-lighten-5">from last month</span>-->
    <!--          </p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div> -->
    <!--card stats end-->

    <!--card widgets start-->

    <!--work collections end-->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
  </div>
  <!--end container-->

  <!-- //////////////////////////////////////////////////////////////////////////// -->
  <!---------------- Container Central  ------------------------->
<!--work collections start-->
<div id="work-collections">
    <div class="row">
    <div class="col s12 m12 l6">
        <ul id="projects-collection" class="collection z-depth-1">
        <li class="collection-item avatar">
            <i class="material-icons cyan circle">card_travel</i>
            <h6 class="collection-header m-0">Aulas de Hoje</h6>
            <p>{{ the_time }}</p>
        </li>
        <li class="collection-item">
            <div class="row">
            <div class="col s9">
                <p class="collections-title">Fotografia Lv.1</p>
                <p class="collections-content">Prof Ary</p>
            </div>
            <div class="col s3">
                <span class="task-cat cyan">SALA 01</span>
            </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
            <div class="col s9">
                <p class="collections-title">Mobile App for Social</p>
                <p class="collections-content">iSocial App</p>
            </div>
            <div class="col s3">
                <span class="task-cat red accent-2">UI/UX</span>
            </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
            <div class="col s9">
                <p class="collections-title">Website</p>
                <p class="collections-content">MediTab</p>
            </div>
            <div class="col s3">
                <span class="task-cat teal accent-4">Marketing</span>
            </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
            <div class="col s9">
                <p class="collections-title">AdWord campaign</p>
                <p class="collections-content">True Line</p>
            </div>
            <div class="col s3">
                <span class="task-cat deep-orange accent-2">SEO</span>
            </div>
            </div>
        </li>
        </ul>
    </div>

<!---------- Card Issues ------------------->

    <div class="col s12 m12 l6">
        <ul style="height: 425px; overflow: auto" id="issues-collection" class="collection z-depth-1">
        <li class="collection-item avatar">
            <i class="material-icons red accent-2 circle">bug_report</i>
            <h6 class="collection-header m-0">Status Cursos</h6>
            <p>Progressão de turmas ativas</p>
        </li>

        {% for turma in turmas %}
        <li class="collection-item">
                <div class="row">
                <div class="col s7">
                    <p class="collections-title">
                    <strong>#{{ turma.id }}</strong> {{ turma.turmadocurso }}</p>
                    <p class="collections-content">Prof: {{ turma.professor }}</p>
                    <!---<p class="collections-content">{{ turma.datainicio|date:"d/m/y" }} até {{ turma.datafim|date:"d/m/y" }}</p> -->
                    <p class="collections-content">
                        {{ turma.date_diff2 }}/{{ turma.date_diff }} | {{ turma.date_diff3 }}% | {{ turma.diadasemana }}</p>
                    <!---<p class="collections-content">Porcentagem:{{ turma.date_diff3 }}%</p>
                    <p class="collections-content">Dia da Semana:{{ turma.diadasemana }}</p> -->
                </div>
                <div class="col s2">
                    <span class="task-cat deep-orange accent-2">SALA {{ turma.sala }}</span>

                </div>
                <div class="col s3">
                    <div class="progress">
                    <div class="determinate" style="width: {{ turma.date_diff3 }}%"></div>
                    </div>
                    <p class="collections-content">{{ turma.datainicio|date:"d/m/y" }} até {{ turma.datafim|date:"d/m/y" }}</p>
                </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    </div>
</div>

<div id="card-widgets">
        <div class="row">
        <div class="col s12 m4 l4">
            <ul id="task-card" class="collection with-header">
            <li class="collection-header teal accent-4">
                <h4 class="task-card-title">My Task</h4>
                <p class="task-card-date">Sept 16, 2017</p>
            </li>
            <li class="collection-item dismissable">
                <input type="checkbox" id="task1" />
                <label for="task1">Create Mobile App UI.
                <a href="#" class="secondary-content">
                    <span class="ultra-small">Today</span>
                </a>
                </label>
                <span class="task-cat cyan">Mobile App</span>
            </li>
            <li class="collection-item dismissable">
                <input type="checkbox" id="task2" />
                <label for="task2">Check the new API standerds.
                <a href="#" class="secondary-content">
                    <span class="ultra-small">Monday</span>
                </a>
                </label>
                <span class="task-cat red accent-2">Web API</span>
            </li>
            <li class="collection-item dismissable">
                <input type="checkbox" id="task3" checked="checked" />
                <label for="task3">Check the new Mockup of ABC.
                <a href="#" class="secondary-content">
                    <span class="ultra-small">Wednesday</span>
                </a>
                </label>
                <span class="task-cat teal accent-4">Mockup</span>
            </li>
            <li class="collection-item dismissable">
                <input type="checkbox" id="task4" checked="checked" disabled="disabled" />
                <label for="task4">I did it !</label>
                <span class="task-cat deep-orange accent-2">Mobile App</span>
            </li>
            </ul>
        </div>
        <!------ CARD DE EVENTOS  --------->
        <div class="col s12 m12 l4">
            <div id="flight-card" class="card" style="background-image: url({% static 'home/images/gallary/12.png' no-repeat center center %});">
            <div class="card-header deep-orange accent-2">
                <div class="card-title">
                <h4 class="flight-card-title">Exp. Fotografica</h4>
                <p class="flight-card-date">20 de Abril de 2019</p>
                </div>
            </div>
            <div class="card-content-bg white-text">
                <div class="card-content">
                <div class="row flight-state-wrapper">
                    <div class="col s12 m12 l12 center-align">
                    <div class="flight-state">
                        <h4 class="margin">Os lumers</h4>
                        <p class="ultra-small">Local: Centro de Exposições Bauhaus</p>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m6 l6 center-align">
                    <div class="flight-info">
                        <p class="small">
                        <span class="grey-text text-lighten-4">INICÍA:</span> 04/05/19</p>
                        <p class="small">
                        <span class="grey-text text-lighten-4">Horario:</span> 19:00</p>
                        <p class="small">
                    </div>
                    </div>
                    <div class="col s6 m6 l6 center-align flight-state-two">
                    <div class="flight-info">
                        <p class="small">
                        <span class="grey-text text-lighten-4">ENCERRA:</span>10/06/19</p>
                        <p class="small">
                        <span class="grey-text text-lighten-4">Horario:</span>19:00</p>
                        <p class="small">
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div id="profile-card" class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'dashboard/images/gallary/3.png' %}" alt="user bg">
            </div>
            <div class="card-content">
                <img src="{{ user.funcionario.imagem.url }}" alt="" class="circle responsive-img activator card-profile-image cyan lighten-1 padding-2">
                <a class="btn-floating activator btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                <i class="material-icons">edit</i>
                </a>
                <span class="card-title activator grey-text text-darken-4">{{ user.funcionario.nome }}</span>
                <p>
                <i class="material-icons">perm_identity</i>{{ user.funcionario.departamento }}</p>
                <p>
                <i class="material-icons">perm_phone_msg</i>{{ user.funcionario.telefone }}</p>
                <p>
                <i class="material-icons">email</i>{{ user.funcionario.email }}</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ user.funcionario.nome }}
                <i class="material-icons right">close</i>
                </span>
                <p>Here is some more information about this star.</p>
                <p>
                <i class="material-icons">perm_contact_calendar</i> {{ user.funcionario.departamento }}</p>
                <p>
                <i class="material-icons">perm_phone_msg</i> {{ user.funcionario.telefone }}</p>
                <p>
                <i class="material-icons">email</i>{{ user.funcionario.email }}</p>
                <p>
                <i class="material-icons">cake</i> {{ user.funcionario.aniversario }}
                </p>
                <p>
                </p>
                <p>
                <i class="material-icons">airplanemode_active</i> {{ user.funcionario.regiao }}
                </p>
                <p>
                </p>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!--card widgets end-->

{% endblock %}
